MaalrLogin {

	// This login module defines the user 'admin' to be able to login.
	// Note that this is a reserved name: 'admin' will always have admin
	// rights. To disable the account, remove or comment the following
	// two lines.
    
    com.sun.jmx.remote.security.FileLoginModule Sufficient debug=true
    passwordFile="maalr_config/site.admin";
    
    // Sample login module to define additional users. As an alternative,
    // one could configure other, more secure or comfortable login modules,
    // such as Kerberos or LDAP. 
    
    com.sun.jmx.remote.security.FileLoginModule Sufficient debug=true
    passwordFile="maalr_config/site.users";
    
    // Sample login module to use Kerberos Login (TODO: Test this!)
   // com.sun.security.auth.module.Krb5LoginModule Sufficient debug=false useTicketCache=false;
    
    // Sample login module for LDAP Login. Configured for spinfo subnet.
    // Will fail if not within the spinfo subnet, as the provider server
    // is not accessible.
  
  //  com.sun.security.auth.module.LdapLoginModule Sufficient
   //  userProvider="ldap://brain.spinfo.uni-koeln.de"
    // authIdentity="uid={USERNAME},ou=Users, dc=spinfo, dc=uni-koeln, dc=de"
   //  useSSL=false
   //  debug=true;
};
