<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %date{HH:mm:ss.SSS} [%-16X{src}] |%X{login}| %-5level %-20logger{0} | %m %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/rm-maalr.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>logs/rm-maalr.%d{yyyy-MM-dd}.log</FileNamePattern>
      		<!-- keep 7 days' worth of history -->
      		<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%-16X{src}] %-5level **%X{login}** %-60logger{55} ::  %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.eclipse.jetty">
		<level value="INFO" />
	</logger>
	
	<logger name="com.mongodb">
		<level value="INFO" />
	</logger>
	
	<logger name="de.uni_koeln">
		<level value="INFO" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>