<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="UserService"/>
		<property name="service" ref="userService"/>
		<property name="serviceInterface" value="de.uni_koeln.spinfo.maalr.services.admin.shared.UserService"/>
		<property name="registryPort" value="1199"/>
	</bean>-->    
    
</beans>

