<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop    
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Enable Spring method security through @Secured -->
	<security:global-method-security secured-annotations="enabled" />

	<!-- Spring security configuration -->
	<security:http auto-config="true" use-expressions="true">
		<!-- Allow unauthorized users to access the login page -->
		<!-- Otherwise it would be difficult to login... -->
		<security:intercept-url pattern="/login.html*" />
		<security:intercept-url pattern="/translate.html*" />
		<security:intercept-url pattern="/de.uni_koeln.spinfo.maalr.user/**" />
		
		<!-- Only admins get access to the backend -->
		<!-- Unauthorized users will get redirected to the login page -->
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/editor/**" access="hasAnyRole('ROLE_TRUSTED_IN','ROLE_ADMIN')" />
		
		<!-- Define which login form to use -->
		<!-- After login, the postLoginHandler will increase the session timeout -->
		<!-- and insert new user infos into the user database -->
		<security:form-login login-page='/login.html' authentication-success-handler-ref="postLoginHandler" authentication-failure-url = "/login.html?login_error=1" />
	</security:http>

	<security:authentication-manager>
		<!-- Custom authentication -->
		<!-- Located in /maalr.spring.core/src/main/java/de/uni_koeln/spinfo/maalr/login/custom/PGAutenticationProvider.java -->
		<security:authentication-provider ref="pgAuthProvider"/>
	</security:authentication-manager>


	<bean id="pgAuthProvider" class="de.uni_koeln.spinfo.maalr.login.custom.PGAutenticationProvider">
		<property name="userDetailsService" ref="pgUserDetailsService" />
	</bean>
	
	<bean id="pgUserDetailsService" class="de.uni_koeln.spinfo.maalr.login.custom.PGAuthUserDetailsService" />

</beans>